{% extends "layout.html" %}
{% block content %}
    
    <h3>Current Charities and Services</h3>
    {% for entry in entries %}
        <p class=entry>
         <!-- HW2 Addition Prints out the list of entries from form sign.py -->    
            Name: {{ entry.name }} <br>
            Description: {{ entry.description }}<br>
            Phone Number: {{ entry. phoneNumber}}<br>
            Date Updated: {{ entry.signed_on }}<br>
            Service: {{ entry.typeService }}<br>
            Hours of Operation: {{ entry.hoursOperation }}<br>
            Review: {{ entry.review }}<br>
            Street Address: {{ entry. streetAddress}}<br>
        </p>
    {% endfor %}

{% endblock %}