<!doctype html>
<html>
<title>My Visitors</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
 <!-- Nav bar list below for all pages-->
<div class=page>
    <ul class="navBar">
        <li>
            <h3><a href="{{ url_for('index') }}">Home</a></h3>
        </li>
        <li>
            <h3><a href="{{ url_for('sign') }}">Add</a></h3>
        </li>
        <li>
            <h3><a href="{{ url_for('charitylist') }}">Listings</a></h3>
        </li>  
    </ul>

    {% block content %}
    
    {% endblock %}
</div>
</html>
