{% extends "layout.html" %}
{% block content %}
<div class="formContainer">

    <h2>Add a charity or service</h2>

    <form action="{{ url_for('sign') }}" method=post>
    <p class="heading">Name: <br><input type=text name=name required>
        <!-- Edit out Cloned course code to new Change email and review to review.-->
    <p class="heading">Description: <br><input type=text name=description required>

        <!-- Adding HW2 to the List here -->
        <!-- Need to add Description, Street Address, Type of Service, Phone Number
                Hours of operation, Reviews.-->
        <!-- Completed Form Input Below -->

    <p class="heading">Street Adress: <br><input type=text name=streetAddress required>
    <p class="heading">Phone Number:<br><input type=number name=phoneNumber required>
    <p class="heading">Type of Service:<br><input type=text name=typeService required > 
    <p class="heading">Hours of Operation:<br><input type=text name=hoursOperation required>
    <p class="heading">Review: <br><textarea rows=5 cols=50 name=review required></textarea></p>
    
    <p><input type=submit value=Sign></p>
    </form>

</div>
{% endblock %}