body       { font-family: "Helvetica", sans-serif; font-size: 20px; color: #000000; }
a, h1, h2  { color: #000000; text-align: center;}
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px ; background-color: #d6d6d6;}
.heading  { font-weight: bold; }
.page      { margin:.1em auto; padding:.1em; width: 504px;  }
.entry     { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; background-color: #d6d6d6;}
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}

/*  Nav Bar Css  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 39, 39);
  }
  
  li {
    float: left;
    border-right:1px solid rgb(45, 245, 55);
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }