{% extends "layout.html" %}
{% block content %}
    <h2>Charities and Social Services in Portland</h2>

  
    <p class=entry>
        Name: {{ cm2}} <br>

        <img src="{{cm2}}"><br>


        Name: {{ cm}} <br>

        <img src="{{cm}}"><br>


        Name: {{ cm3}} <br>

        <img src="{{cm3}}"><br>
    </p>

 




{% endblock %}
