{% extends "layout.html" %}
{% block content %}

<h2>Pick A  Server</h2>

<form action="{{ url_for('auction') }}" method=post>
    <p class="heading"><label>Select Realm:
      <select name="realmName">
            <option value="{{ allrealms}}"> All Realms </option>
        {% for x in entries %}
            <option value="{{ x.connectedId}}">{{ x.name }}  {{ x.connectedId}}</option>
        {% endfor %}
      </select>
    </label>
    

   

    <input type="submit" value=Go >
</form>






{% if data_list is defined %}
<p class="entry">
    Name: {{ TODO }} <br />
    {% for x in rareItems %} 
      Item: {{ x['name'],  x['id']}} <br />
    {% endfor %}
</p> 
<table class="table">
    <tr class="table__header">
      <th>Realm</th>
      <th>Auction ID</th>
      <th>Item Name</th>
      <th>Item ID</th>
      <th>Bid</th>
      <th>Buyout</th>
      <th>Unit Price</th>
      <th>Quant</th>
      <th>Time</th>
    </tr>
 
  {% for x in data_list %} 
    {%  set string = x['connected_realm']['href'] %}
    {% for y in x['auctions'] %}
      {% for z in rareItems %} 
          {% if y.item.id == z['name'] %}   
          <tr class="table__row">
            <td class="table__cell">{{  string }}</td>
            <td class="table__cell">{{ y.id }}</td>
            <td class="table__cell">{{ z['id']}} </td>
            <td class="table__cell">{{ y.item.id }}</td>
            <td class="table__cell">{{ y.bid}}</td>
            <td class="table__cell">{{ y.buyout}}</td>
            <td class="table__cell">{{ y.unitPrice}}</td>
            <td class="table__cell">{{ y.quantity }}</td>
            <td class="table__cell">{{ y.time_left }}</td>
          </tr>
          {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}


  </table>
{% endif %}




{% endblock %}