{% extends "layout.html" %}
{% block content %}
    
    <h3>Current Item List</h3>
    <p class=entry>
    {% for entry in entries %}
         <!-- HW2 Addition Prints out the list of entries from form sign.py -->    
            {{ entry.id }}  {{ entry.name}} <br>
    {% endfor %}
    </p>

{% endblock %}