{% extends "layout.html" %}
{% block content %}
<div class="formContainer">

    <h2>Add item</h2>

    <form action="{{ url_for('sign') }}" method=post>
    <p class="heading">Name: <br><input type=number name=id required>

    <p><input type=submit value=Sign></p>
    </form>

</div>
{% endblock %}